html, body {
    height: 100%;
}

.main-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#logo-image { 
    width: 272px;
    height: 92px;
}

#search-bar {
    background: url("./images/magnifying-glass-lighter.png") no-repeat 3% 50%;
    background-size: 16px;
    width: 460px;
    height: 36px;
    border-radius: 20px;
    border-width: 2px;
    border-color: #edf0f3;
    border-style: solid;
}