html, body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.top-nav ul,
.bottom-nav ul {
    margin: 22px 18px;
    padding: 0;
}

.top-nav li a,
.bottom-nav li a {
    padding: 3px;
    margin: 4px;
    font-size: 13px;
    color: #303030;
    text-decoration: none;
}

.top-nav li a:hover,
.bottom-nav li a:hover {
    text-decoration: underline;
}

.top-nav {
    display: flex;
    min-width: 800px;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin-bottom: 60px;
}

#top-nav-left li,
#top-nav-right li,
#bottom-nav-left li,
#bottom-nav-right li {
    display: inline;
}

#top-nav-left li a {
    color: #464646;
}

#top-nav-right {
    margin-right: 24px;
    display: flex;
    align-items: center;
}

#top-nav-right li {
    padding: 2px;
}

#apps-grid-image {
    opacity: 50%;
    margin-right: 7px;
    margin-left: 5px;
}

#apps-grid-image:hover {
    opacity: 80%;
}

.bottom-nav {
    background-color: #f2f2f2;
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 39px;
    min-width: 800px;
    border: 1px solid rgb(223, 223, 223);
    justify-content: space-between;
    align-items: center;
}

.bottom-nav li a {
    color: #535353;
    padding: 8px;
}

#bottom-nav-left {
    margin-left: 18px;
}

#bottom-nav-right {
    margin-right: 18px;
}

#sign-in-button {
    background-color: rgb(68, 135, 235);
    color: white;
    font-weight: bold;
    padding: 7.5px 13px;
    border-radius: 1.5px;
    cursor: default;
    text-align: center;
}

#sign-in-button:hover {
    text-decoration: none;
}

.main-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 800px;
}

#logo-image { 
    width: 272px;
    height: 92px;
    margin-bottom: 25px;
    margin-top: 40px;
}

#search-bar {
    background: url("./images/magnifying-glass-lighter.png") no-repeat 3% 50%;
    background-size: 16px;
    width: 530px;
    height: 40px;
    border-radius: 20px;
    border-width: 2px;
    border-color: #f2f2f2;
    border-style: solid;
    padding-left: 45px;
}

#search-bar:hover,
#search-bar:focus {
    box-shadow: 0.5px 1px 3px rgba(58, 57, 57, 0.2);
}

.button-row {
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
}

.search-button {
    display: inline-block;
    margin: 0 10px;
    padding: 10px;
    background-color: #f2f2f2;
    border: none;
    border-radius: 3px;
    color: gray;
    font-size: 14px;
}

.search-button:hover {
    border: 1px solid lightgray;
    padding: 9px;
    color:  #282828;
    background-color: #f3f3f3;
    box-shadow: 0px 0px 0.5px 0px #A9ADAA;
}